:root {
  --yinmn-blue: #26547cff;
  --yinmn-blue-dark: #0d1d29;
  --bright-pink-crayola: #ef476fff;
  --sunglow: #ffd166ff;
  --emerald: #06d6a0ff;
  --baby-powder: #fffcf9ff;
  --blackish: #1c1c1cff;
}
body {
  margin: 0;
  font-family: "Arimo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, var(--yinmn-blue), var(--yinmn-blue-dark));
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;
  color: var(--baby-powder);
}

header {
  background-color: var(--baby-powder);
  padding: 1rem;
  color: var(--bright-pink-crayola);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

header a {
  font-weight: bold;
  color: var(--bright-pink-crabyola);
  margin-right: 1rem;
}

a {
  color: var(--sunglow);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  padding: 2rem 1rem;
  border-top: 1px solid #ccc;
  margin-top: 2rem;
  background-color: var(--blackish);
}

footer .footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
}

footer .footer-links {
  display: flex;
}

footer .footer-links div {
  margin-right: 2rem;
}

footer ul {
  list-style: none;
  padding: 0;
}

.what-is-effectstream-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.left-column {
  flex: 1;
  min-width: 300px;
  flex-basis: 40%;
}

.right-column {
  flex: 1;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-column img {
  max-width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  /* width: 100%; */
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
}

.item-selector {
  display: flex;
  flex-direction: column;
}

.item-button {
  background-color: transparent;
  border: 1px solid var(--sunglow);
  color: var(--sunglow);
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: left;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.item-button:hover {
  background-color: var(--sunglow);
  color: var(--yinmn-blue);
}

.item-button.active {
  background-color: var(--sunglow);
  color: var(--yinmn-blue);
  font-weight: bold;
}

.quick-start-section {
  margin-top: 4rem;
}

.main-title {
  font-size: 5rem; /* Corresponds to text-5xl */
  text-align: center;
  font-weight: 700;
  margin: 2rem 0;
  font-family: "League Spartan", sans-serif;
}

.section-title {
  font-size: 2.25rem; /* Corresponds to text-4xl */
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem;
  font-family: "League Spartan", sans-serif;
}

.subsection-title {
  font-size: 1.475rem; /* Corresponds to text-3xl */
  font-weight: 600;
  margin-bottom: 1rem;
  font-family: "League Spartan", sans-serif;
}

.effectstream-item {
  background-color: var(--blackish);
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
}

.effectstream-item:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.effectstream-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  text-align: center;
}

.docs-link-container {
  margin-top: auto;
  padding-top: 1rem;
  text-align: right;
}

.button-and-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.docs-link {
  font-weight: bold;
}

.docs-link-button {
  background: none;
  border: none;
  color: var(--sunglow);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  padding: 0;
  display: flex;
  align-items: center;
}

.section-description {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.125rem; /* Corresponds to text-lg */
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.my-16 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-32 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.arimo {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.overpass {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.league-spartan {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
